/* Gloabal CSS */

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f3f4f7;
}

.divider {
    color: #77DD77;
}

@media screen and (max-width: 600px) {
    .mobile-title {
        text-align: center;
        font-size: 25px;
        margin: 10px;
    }
}

@media screen and (min-width: 601px) {
    .mobile-title {
        display: none;
    }
}