{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/home.css">
{% endblock %}

{% block middleNav %}
<ul class="nav-list">
    <li>
        <a href="/portfolio/new">quickly & easily share your stock portfolio</a>
    </li>
    
</ul>
{% endblock %}

{% block title %}sharefol.io - Home{% endblock %}

{% block content %}
<div class="container">
    <div class="home-img left" id="main-img">
        <img src="/static/images/demo.png">
    </div>
    <div class="home-info" id="main-info">
        <p>Make a shareable investment portfolio in seconds</p>
        <form action="/portfolio/new">
            <button class="btn btn-dynamic">Create New Portfolio</button>
        </form>
    </div>
</div>
<br><br><br><br>
<h1>Easy as 1,2,3</h1>
<div class="container">
    <div class="home-info" id="first-info">
        <p>First, add your stock ticker and your number of shares</p>
    </div>
    <div class="home-img right" id="first-img">
        <img src="/static/images/demo.png">
    </div>
</div>
<div class="container">
    <div class="home-img left" id="second-img">
        <img src="/static/images/demo.png">
    </div>
    <div class="home-info" id="second-info">
        <p>Second, choose to hide or show your exact portfolio values</p>
    </div>
</div>
<div class="container">
    <div class="home-info" id="third-info">
        <p>Third, save and share your portfolio with the world</p>
    </div>
    <div class="home-img right" id="third-img">
        <img src="/static/images/demo.png">
    </div>
</div>
<div class="btn-wrapper">
    <form action="/portfolio/new">
        <button class="btn btn-static">Create New Portfolio</button>
    </form>
</div>

<div class="footer">
    <p>sharefol.io</p>
</div>

<script src="/static/home.js"></script>

{% endblock %}