{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/stocks.css">
{% endblock %}

{% block title %}sharefolio{% endblock %}

{% block middleNav %}
    <ul class="nav-list">
        <p>Create Your New Portfolio</p>
    </ul>
{% endblock %}


{% block content %}
<div class="page-body">
    <div class="sidebar">
        <div class="sidebar-wrapper">
            <div class="table-options">
                <div class="sidebar-control">
                    <label for="investments"><u>Investment Type:</u></label>
                    <select name="investments" id="investments">
                        <option value="stocks">Stocks</option>
                        <option value="crypto">Crypto</option>
                    </select>
                    <span class="error-msg"></span>
                    <form class="stock-form">
                        <div class="stock-form-input">
                            <label id="symbol-label">Ticker:</label>
                            <input id="symbol" maxlength="5" name="symbol" oninput="this.value = this.value.toUpperCase()" placeholder="ex: AAPL" type="text" autocomplete="off">
                        </div>
                        <div>
                            <label id="shares-label">Shares:</label>
                            <input id="shares" name="shares" placeholder="ex: 25" step="any" type="number">
                        </div>
                        <button class="btn-green" id="add-stock">Add to Portfolio</button>
                    </form>
                </div>
                <div class="settings">
                    <label><u>Settings:</u></label><br>
                    <label for="">Show Exact Values?</label>
                    <input type="checkbox" name="hide-values" id="hide-exact-checkbox">
                </div>
                {% if not session.get('curr_user') %}
                    <div class="notes">
                        <p><i>Before making your portfolio, <a href="/login">Login</a> or <a href="/sign-up">register</a> to save to your profile. Otherwise your portfolio will be saved anonymously.</i></p>
                    </div>
                {% endif %}
            </div>

        </div>
    </div>

    <div class="main-content">
        <div class="wrap">
            <div class="rTable">
                <div class="rTableRow">
                    <div class="rTableHead head-left">Symbol</div>
                    <div class="rTableHead percentage">Percentage</div>
                    <div class="rTableHead percentage-sym">%</div>
                    <div class="rTableHead toggle-visible" style="display:none">Shares</div>
                    <div class="rTableHead toggle-visible" style="display:none">Value</div>
                    <div class="editTabHead head-right">Del</div>
                </div>
    
                <div class="rTableBody">
                </div>
            </div>
            <div class="portfolio-total toggle-visible" style="display:none">
                <span>Total: $</span>
                <span id="total-value-amount">0</span>
            </div>
        </div>
        <div class="share-bottom">
            <button class="btn-green shadow" style="display:none" id="save-to-profile">Save & Share</button>
            <input id="share-url" type="text" style="display:none">
            <button class="btn-green" id="copy-url" style="display:none">Copy</button>
        </div>
    </div>
</div>

{% endblock %}
</html>